.home-wrapper {
  position: relative;
  width: 100vw;
  max-width: 2560px;
  height: calc(100vh - 50px);
  background-image: url("../../public/images/background_with_name.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.home-content {
  font-family: "Nunito", sans-serif;
  padding: 100px 200px 100px 200px;
  color: #ffeadd;
}

.tech-logo {
  width: 50px;
  margin: 5px;
  color: white;
}

@media (max-width: 850px) {
  .home-content {
    padding: 100px;
  }
}
@media (max-width: 425px) {
  .home-content {
    padding: 50px;
  }
}
